* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.section {
    width: 100vw;
    height: 330px;
    padding: 0 200px;
}

header, footer {
    height: 50px;
    width: 100vw;
    padding: 0 200px;
}

header {
    display: flex;
    align-items: center;
    background-color: #1F2937;
    
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}
.header-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
}

.main-section {
    display: flex;
    background-color: #1F2937;
}

.signup-button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
}

.website-info h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.website-info p {
    font-size: 18px;
    color: #E5E7EB;
}

.image-main-section {
    border: 2px solid blue;
    width: 200px;
    height: 100px;
}

.more-info h1 {
    font-size: 36px;
    font-weight: bolder;
    color:  #1F2937;
}

.container-more-info img {
    border: 2px solid blue;
    width: 100px;
    height: 100px;
}

.quote-section {
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.signup-section {
    background-color: #3882F6;
}

.punchline-signup-section {
    font-size: 24px;
    color: #F9FAF8;
}

.signup-instruction {
    font-size: 18px;
    color: #E5E7EB;
}

footer {
    font-size: 18px;
    color: #E5E7EB;
    background-color: #1F2937;
}